plot_metrics.gnuplot
benchmarks.csv
*.prof
**/.venv-graphs/
**/.mplconfig/
**/__pycache__/
**/*.pyc
**/*.test
**/artifacts/
hw5/.cache/
hw5/data/*.seg
hw5/data/*.jsonl
hw5/data/manifest.json
hw5/data/queries/*.json
hw5/data/queries/*.txt
hw5/data/wiki_dump/
**/.cache
**/hw5/data/wiki_sample.jsonl
